// colores de texto
$textcolorprimary: #222222;
$textcolorsecundary: #5ab8ea;
$textcolortertiary: #b5b0af;
$textcolorquaternary: white;
$textcolorcincotiary: #53504b;
$textcolorsextiray:#042d66;

// colores de bordes
$bordercolorprimary: #5ab8ea;
$bordercolorsecundary: #aeaea5;
$bordercolortertiary: #ededed;

//colores de fondos
$colorfondoprimary: #222222;
$colorfondosecundary: #eb7f00;
$colorfondotertiary: #53504b;
$colorfondoquaternary: #ffffff;
$colorfondocinco: #f6f6f6;
$colorfondosextiary: #ededed;

//colores de iconos
$iconcolorprimary: #eb7f00;
$iconcolorsecundary: #aeaea5;
$iconcolortertiary: white;
